# *DAY-12 Assignment*

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [10]:
path =  r"C:\Users\Seshagiri\Desktop\Handson\code\data\Predict-The-Data-Scientists-Salary-In-India_Train_Dataset.csv"
df = pd.read_csv(path)

In [12]:
df.columns = df.columns.str.strip()
def extract_exp(exp):
    try:
        if '-' in exp:
            return float(exp.split('-')[0])
        return float(exp)
    except:
        return 0.0

df['min_exp'] = df['experience'].apply(lambda x: extract_exp(str(x)))
df['min_exp']

0         5.0
1        10.0
2         5.0
3         7.0
4         1.0
         ...
19797    12.0
19798     0.0
19799     8.0
19800     1.0
19801     2.0
Name: min_exp, Length: 19802, dtype: float64

In [14]:
for col in ['location', 'company_name_encoded', 'job_desig', 'job_type']:
    df[col] = LabelEncoder().fit_transform(df[col].astype(str))
df['salary'] = LabelEncoder().fit_transform(df['salary'].astype(str))
df['salary']

0        5
1        1
2        2
3        1
4        4
        ..
19797    2
19798    0
19799    2
19800    1
19801    1
Name: salary, Length: 19802, dtype: int64

In [15]:
X = df.drop(['Unnamed: 0', 'experience', 'job_description', 'key_skills', 'salary'], axis=1)
y = df['salary']
X

       job_desig  job_type  location  company_name_encoded  min_exp
0          10715         5      1057                  2209      5.0
1           5482         5       461                  3311     10.0
2           3997         2       978                  2838      5.0
3            969         2       158                  1523      7.0
4            431         5      1296                  2691      1.0
...          ...       ...       ...                   ...      ...
19797       4275         5      1353                   431     12.0
19798       6921         5       133                  3789      0.0
19799       8574         5      1353                  2933      8.0
19800       3178         5       338                  4906      1.0
19801        952         5      1353                  3224      2.0

[19802 rows x 5 columns]

In [16]:
y

0        5
1        1
2        2
3        1
4        4
        ..
19797    2
19798    0
19799    2
19800    1
19801    1
Name: salary, Length: 19802, dtype: int64

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([0, 0, 2, ..., 0, 0, 5])

In [19]:
accuracy_score(y_test, y_pred)

0.3530599878812361